<%= content_for(:title) do %>
  Et...Rance | Présentation
<% end %>


<div id="card-text">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-9">
        <div>
         <h1>Et...Rance</h1>
         <br>
         <p><strong><em>Association d'art contemporain, sur les rives de la Rance.</em></strong></p>
         <p class="text-justify">
           L’association <strong>Et...Rance</strong>  est née en 2004 d’une volonté passionnée de partager l'art contemporaint avec les habitants des Côtes d’Armor et de la région de Dinan  en particulier.

           <br><br>
           Dans le  cadre    de l’Abbaye  de  Léhon, lieu  privilégié  de    création  artistique  à travers les  âges,  nous invitons    chaque  année  au  mois  de  septembre,  peintres, plasticiens,  sculpteurs,  photographes  qu’ils  soient  jeunes  créateurs  ou  artistes confirmés.  Bretons,  français  ou  étrangers,  connus  ou  inconnus,  ils    sont  tous professionnels.

          <br><br>
           Pour chaque exposition, les œuvres exposées sont réunies autour d’un thème:
          <ul>
            <li><em>De rive et d’eau</em> (2014)</li>
          </ul>
          <ul>
            <li><em>Contre-champs</em> (2013)</li>
          </ul>
          <ul>
            <li><em>Le silence des  bêtes</em> (2012)</li>
          </ul>
          <ul>
            <li><em>Traversée</em> (2011)</li>
          </ul>
          <ul>
            <li><em>D’un blanc haut en couleur</em> (2010)</li>
          </ul>

           Chaque année, plus de 2 000 personnes visitent notre exposition, à la rencontre de nos artistes, qui viennent à Léhon pour partager leur expérience artistique et présenter leurs oeuvres.
          <br><br>
           En  prolongement  de  ses  expositions  l’association  organise  régulièrement  des concerts.
          <br><br>
           Le thème de l'exposition 2015 <em><strong> «En dé-coudre»</strong></em>, qui aura lieu du 5 au 20 septembre 2015, réunira des artistes autour d’œuvres textiles. Le tissage ayant toujours tenu une grande place en Bretagne et dans cette région en particulier.
         </p>
         <br>
        </div>
      </div>
    </div>
  </div>
</div>